* {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(240, 230, 216);
}

.bookmark {
  border: 1px black solid;
  margin-top: 15px;
  border-radius: 5px;
}

.pagination {
  margin-top: 20px;
}

.page-links {
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.checked {
    color: orange;
}

h1 {
  color: rgb(26, 51, 41);
  padding-bottom: 50px;
}

.btn {
  background-color: #00000045;
  border: 1px solid black;
}